.banner {
    border-radius: 15px;
    margin: 20px;
}

.banner .banner-functions {
    display: flex;
    justify-content: flex-end;
    padding: 5px 10px;
    cursor: pointer;
}

.banner .banner-functions i {
    color: #fff;
    font-size: 1.3rem;
}

.banner .banner-image img {
    border-radius: 100%;
    padding: 20px;
    width: 200px;
    height: 200px;
}

.banner .banner-info .banner-name {
    font-family: var(--title);
    font-weight: 400;
}

.banner .banner-info .banner-age {
    font-family: var(--title);
    font-weight: 600;
}

.banner .banner-info .banner-age-text {
    font-size: x-small;
}