<div class="banner bg-success d-flex justify-content-center flex-column text-center ">
    <div class="banner-functions">
        <i class="bi bi-trash" (click)="deleteProfile(id)"></i>
    </div>
    <div class="banner-image">
        <img [src]="urlImg" alt="imagem profile" class="img-fluid">
    </div>
    <div class="text-white banner-info">
        <p class="banner-name">
            {{ name }}
        </p>
        <p class="banner-age">
            {{ age }} <span class="banner-age-text">years old</span>
        </p>
    </div>
</div>